.intro{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
    text-align: center;
    color: gold;
    /* margin-top: 300px; */
    -webkit-text-stroke-color: dodgerblue;
    -webkit-text-stroke-width: 1px;
    font-family: 'Exo 2', sans-serif;
}

form{
    font-size: 30Px;
    color: gold;
    text-align: center;
}

body{
    background-color: black;
    background-image:  url("falcon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

table{
    border: 0px;
    font-size: 0px;
}

.prettyTable{
    margin: 7%;
    /* margin-top: 15%; */
    padding: 20px;
    background-color: silver;
    opacity: .9;
    border: solid grey 5px;
    border-radius: 50px;
    font-family: 'Exo 2', sans-serif;
}
/* td{
    color: skyblue;
    font-family: Georgia
} */



/* a:hover{
    color: purple;
} */

