h1{
    text-align: center;
    color: green;
}

body{
    background-color: black;
    background-image: "C:\Users\Juan\Desktop\All the GIT stuff\StarWarsTrivia\css\lightspeed.jpg"
}

form{
    color: aliceblue;
    text-align: center;
}

.errorText{
    color: red;
}