.intro{
    font-size: 60px;
    text-align: center;
    color: gold;
    margin: 300px auto;
    -webkit-text-stroke-color: dodgerblue;
    -webkit-text-stroke-width: 1px;
}

form{
    font-size: 30Px;
    text-decoration-color: gold;
}

body{
    background-color: black;
    background-image:  url("lightspeed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* table{
    border: solid 2px green;
} */

/* td{
    color: skyblue;
    font-family: Georgia
} */

form{
    color: aliceblue;
    text-align: center;
    
}

/* a:hover{
    color: purple;
} */

