.intro{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
    text-align: center;
    color: gold;
    /* margin-top: 300px; */
    -webkit-text-stroke-color: dodgerblue;
    -webkit-text-stroke-width: 1px;
}

form{
    font-size: 30Px;
    text-decoration-color: gold;
    text-align: center;
}

table{
    border: solid 2px green;
    margin-left: auto;
    margin-right: auto;
    
}

.tableCategory{
    font-size: 45px;
    color: green;
}

.points{
    color: skyblue;
    font-family: Georgia;
    font-size: 20px;

}

a:hover{
    color: purple;
}

td{
    border: solid green 5px;
    color: skyblue;
    font-family: Georgia;
    text-align: center;
    padding: 5px;
}

body{
    background-color: black;
    background-image:  url("falcon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.prettyTable{
    margin: 7%;
    margin-top: 15%;
    padding: 20px;
    background-color: silver;
    opacity: .75;
    border: solid grey 5px;
}

.Score{
   
    font-size: 20px;
    margin-left: 80%;

}